{% extends 'base.html.twig' %}

{% block title %}Yndeed{% endblock %}

{% block body %}
<div class="d-flex justify-content-center mt-3">
    <img src="https://i.imgur.com/rmfm2Ai.png" width="400" alt="logo"/>
</div>

<div class="d-flex justify-content-center">
    Trouvez une offre d'emploi proche de vous
    </div>

<div class="container mt-3"> 

<a href="{{ path('addOffre')}}" class="btn btn-danger">Ajouter une offre</a>

{% for offre in offres %}
<div class="card mt-2">
  <div class="card-body">
    <h5 class="card-title">{{ offre.title }}</h5>
    <h6>{{ offre.CodePostal }},  {{ offre.ville }}</h6>
    <p class="card-text">Type de contrat :    {{ offre.Contrat }}</p>
    <p class="card-text">Contrat créé le : {{ offre.DateCreation | date('d/m/Y') }}, prend fin le {{ offre.FinMission | date('d/m/Y') }}</p>
    <a href="{{ offre.id }}" class="btn btn-primary">Voir l'offre</a>
  </div>
</div>

{% endfor %}

</div>

{% endblock %}
