{% extends 'base.html.twig' %}

{% block title %}Vos offres{% endblock %}

{% block body %}
<div class="container mt-3"> 

{% if offres == 0 %}
    <p class="text-center">Vous n'avez pour l'instant créé aucune offre</p>
{% endif %}

{% for offre in offres %}
<div class="card mt-2">
  <div class="card-body">
    <h5 class="card-title">{{ offre.title }}</h5>
    <h6>{{ offre.CodePostal }},  {{ offre.ville }}</h6>
    <p class="card-text">Type de contrat :    {{ offre.Contrat }}</p>
    <p class="card-text">Contrat créé le : {{ offre.DateCreation | date('d/m/Y') }}, prend fin le {{ offre.FinMission | date('d/m/Y') }}</p>
    <a href="offre/{{ offre.id }}" class="btn btn-primary">Voir l'offre</a>
  </div>
</div>
{% endfor %}

</div>

{% endblock %}